.genderForm {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  transform: translateY(90%);
}
.genderForm__box {
  display: grid !important;
  grid-template-columns: 1fr;
  height: 200px;
  width: 300px;
  > button {
    margin-bottom: 8px;
    font-size: 1.2rem;
    border-radius: 30px;
  }
}
.genderForm__img {
  height: 700px;
}
.genderForm__title {
  margin-bottom: 30px;
  font-weight: bold;
  color: #524c4c;
}
