body 
{
background-image: url("vitor-pinto-5EtKHok-obE-unsplash.jpg");

background-size:1220px 1660px;
}
h2{text-align:center;
font-size:150px;
color:white;
}


.topright {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}
.button {
  background-color:red;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 100px;
  cursor: pointer;
  float:left;
}
.button3 {border-radius: 8px;}