.chat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 70px;
  border-bottom: 1px solid #fafafa;
  &:hover {
    background-color: lightgray;
  }
}

a {
  text-decoration: none;
  color: inherit;
}
.chat__details {
  flex: 1;
  > p {
    color: gray;
  }
}
.chat__img {
  margin-right: 20px;
}
.chat__timestamp {
  color: lightgray;
}
.chats__heading {
  color: rgb(245, 57, 57);
}
@media (max-width: 480px) {
  .chats__heading {
    font-size: 1.8rem;
  }
}
